# Popularity Based Recommendations - To solve cold start problem

In [1]:
import pandas as pd
import numpy as np

In [2]:
ratings = pd.read_csv('ml-1m/ratings.dat', sep='::', names=['userid', 'movie_id', 'rating', 'timestamp'], engine='python')
movies = pd.read_csv('ml-1m/movies.dat', sep='::', names=['movie_id', 'title', 'genre'], engine='python')

In [3]:
ratings = pd.merge(movies, ratings)

In [5]:
ratings.shape

(1000209, 6)

In [6]:
ratings.head(10)

,movie_id,title,genre,userid,rating,timestamp
0,1,Toy Story (1995),Animation|Children's|Comedy,1,5,978824268
1,1,Toy Story (1995),Animation|Children's|Comedy,6,4,978237008
2,1,Toy Story (1995),Animation|Children's|Comedy,8,4,978233496
3,1,Toy Story (1995),Animation|Children's|Comedy,9,5,978225952
4,1,Toy Story (1995),Animation|Children's|Comedy,10,5,978226474
5,1,Toy Story (1995),Animation|Children's|Comedy,18,4,978154768
6,1,Toy Story (1995),Animation|Children's|Comedy,19,5,978555994
7,1,Toy Story (1995),Animation|Children's|Comedy,21,3,978139347
8,1,Toy Story (1995),Animation|Children's|Comedy,23,4,978463614
9,1,Toy Story (1995),Animation|Children's|Comedy,26,3,978130703

In [10]:
rating_count = pd.DataFrame(ratings.groupby('title')['rating'].count())
top_10_popular = rating_count.sort_values('rating', ascending=False).head(10)

In [23]:
top_10_popular

                                                    rating
title
American Beauty (1999)                                3428
Star Wars: Episode IV - A New Hope (1977)             2991
Star Wars: Episode V - The Empire Strikes Back ...    2990
Star Wars: Episode VI - Return of the Jedi (1983)     2883
Jurassic Park (1993)                                  2672
Saving Private Ryan (1998)                            2653
Terminator 2: Judgment Day (1991)                     2649
Matrix, The (1999)                                    2590
Back to the Future (1985)                             2583
Silence of the Lambs, The (1991)                      2578